<% def ButterbeanCode(num) 
  num * 2
end %>
<% def BinaryRepresentation(num)
  outArray = []
  remainder = num
  i = 2**((Math.log(num,2)).floor)
  begin
    if remainder >= i
      remainder = remainder % i
      outArray.push(1)
    else
      outArray.push(0)
    end
    i /= 2
  end until i < 1
  outArray
end %>
<% def MontgomeryLadder(base, exponent)
  x1 = base
  x2 = base**2
  binary = BinaryRepresentation(exponent)
  for i in 1...binary.length
    if binary[i] == 0
      x2 = x1 * x2
      x1 = x1 * x1
    else
      x1 = x1 * x2
      x2 = x2 * x2
    end
  end
  x1
end %>
<div class="center jumbotron">
  <h1>Welcome to the sample app</h1>
  <h2>
    This is the home page for the 
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  
  <% (1..10).each do |num| %>
    <p><%= MontgomeryLadder(3, num)%></p>
  <% end %>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>